@model IEnumerable<RepositoryPattern.Models.BooksEntity.BooksTable>

@{
    ViewBag.Title = "Books EF";
    var count = Model.Count();
}

<h2>Entity Framework: Books that I've read in the past year or so...</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Book Series</th>
        <th>@count Items</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Title</td>
        <td>@item.Author</td>
        <td>@item.Category</td>
        <td>@item.Series</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) | 
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | *@
            
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>